body {
    border: 20px solid #256E01;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-size: small;
    font-family: 'Roboto Condensed', sans-serif;
}


/*.quote {
    border-left: 5px solid #50d8ad;
    padding-left: 5px;
}*/

/*.date {
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 5px; 
} */

.post {
    margin-bottom: 30px;
    color: black;
}

h1 {
    color: #256E01;
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #256E01;
}

img {
    padding: 0px;
    max-width: 700px;
    width: 100%;
    /*    margin: 20px auto; */
}

.nice {
    max-width: 700px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}



h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
    color: black;


}

.program {
    font-size: 18px;
}

hr.style2 {
    border-top: 3px double black;
}

section#zgloszenia{
    height: 700px;
}


.invoiceswitch {
    text-align: center;
    margin-left: 25%;
    height: 34px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 20px;
}

.languageswitch {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    height: 80px;
    margin-bottom: 25px;
    font-size: 20px;
}

span.invoice {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

textarea#invoiceField{
    margin-top: 10px;
}



input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-left: 25%;
    font-family: 'Roboto Condensed', sans-serif;
}

textarea {
    width: 49%;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: none;
    margin-left: 25%;
    font-family: 'Roboto Condensed', sans-serif;
}

input[type=submit] {
    width: 50%;
    background-color: #021430;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 input[type=text]:focus,
    select:focus,
    textarea:focus {
        outline-color: #256E01;
    }

input[type=submit]:hover {
    background-color: #2C3B62;
}

.forms {
    border-radius: 5px;
    /*    background-color: #f2f2f2;*/
    padding: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

.forms .invoice {
    font-size: 20px;


}

.forms #invoiceField {
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;


}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.invoiceswitch {
    text-align: center;
    margin-left: 25%;
    height: 34px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 20px;
}



.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 2px;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #256E01;
}

.option-input:checked {
    background: #256E01;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #256E01;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}



.conf1 {
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

.btn-cont {
    text-align: center;
    margin-top: 65px;

}

.btn-cont .btn {
    position: relative;
    padding: 20px 70px;
    border: 1px solid #021430;
    color: #021430;
    text-decoration: none;
    font-size: 1.125em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.btn-cont .btn:hover {
    border: none;
}

.btn-cont .btn:hover .line-1 {
    -webkit-animation: move1 1500ms infinite ease;
    animation: move1 1500ms infinite ease;
}

.btn-cont .btn:hover .line-2 {
    -webkit-animation: move2 1500ms infinite ease;
    animation: move2 1500ms infinite ease;
}

.btn-cont .btn:hover .line-3 {
    -webkit-animation: move3 1500ms infinite ease;
    animation: move3 1500ms infinite ease;
}

.btn-cont .btn:hover .line-4 {
    -webkit-animation: move4 1500ms infinite ease;
    animation: move4 1500ms infinite ease;
}

.btn-cont .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #021430;
    left: 0;
    bottom: 0;
}

.btn-cont .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #021430;
    left: 0;
    top: 0;
}

.btn-cont .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #021430;
    right: 0;
    top: 0;
}

.btn-cont .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #021430;
    right: 0;
    bottom: 0;
}

@-webkit-keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@-webkit-keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@-webkit-keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@-webkit-keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

