body {
    border: 20px solid #256E01;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-size: small;
    font-family: 'Roboto Condensed', sans-serif;
}


/*.quote {
    border-left: 5px solid #50d8ad;
    padding-left: 5px;
}*/

/*.date {
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 5px; 
} */

.post {
    margin-bottom: 30px;
    color: black;
}

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    color: #256E01;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #256E01;
}

img {
    padding: 0px;
    max-width: 700px;
    width: 100%;
    /*    margin: 20px auto; */
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
    color: black;


}

.program {
    font-size: 18px;
}

hr.style2 {
    border-top: 3px double black;
}
